# Dependencies
node_modules/

# Build outputs
dist/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/
.nyc_output/

# Temporary files
tmp/
temp/
*.tmp

# Internal Informations
info.md
FUTURE_IMAGE_COMMANDS.md
WEB_DOCUMENTATION_IMPROVEMENTS.md

# Website docs
web/

# Input / Output Folders for testing
output/
output-images/
output-videos/
input-images/
input-videos/

# Plugin MarketPlace for future (will publish as a separate repo)
plugin-marketplace/

# Testing
__tests__/

# Output Mediaa Files
plugins/**/*.mp4
plugins/**/*.mov
plugins/**/*.avi
plugins/**/*.mkv
plugins/**/*.png
plugins/**/*.jpg
plugins/**/*.jpeg
plugins/**/*.gif
plugins/**/*.svg
plugins/**/*.webp
plugins/**/*.tiff
plugins/**/*.bmp
plugins/**/*.psd
plugins/**/*.raw
plugins/**/*.heic